.navbarInterface{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px #efefef;
    border: #efefef 5px solid;
    height: 100%;
    border-radius: 0px 30px 30px 0px;
    width: 14%;
    z-index: 1;
    position: absolute;

    left: 0%;
   top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* font-weight: 300; */
    gap: 40px;
}
li{
    list-style-type: none;

}
.menunavbar,.btn-opt-navbar{
    color: var(--joyeux);
    text-decoration: none;
}

.fond{
    background-color: #dadada;
    border-radius: 20px;
    padding: 16px;
    display: block;
}
.menunavbar{
    font-size: 2.4em;
    display: none;
}
.navbar__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 2.3em;


    justify-content: space-evenly;
}

.navbar_bottom{



}
.imagepdpContainer{
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-image: url("image/defaultimg.png");
    background-size: contain;
    border: var(--joyeux) 3px solid;
    background-repeat: no-repeat;
    background-position: center;
}

.convPrivéListe {
    background: linear-gradient(to top, #85858536, transparent 25%);
    width: 100%;
    height: 63%;
    /* border: 1px dotted #4a4a4a; */
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.convPrivéListe::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.convPrivéListe {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*================================Coockie ================*/
.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483645;
    box-sizing: border-box;
    width: 100%;

    background-color: #F1F6F4;
}

.cookie-consent-banner__inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 0;
}

.cookie-consent-banner__copy {
    margin-bottom: 16px;
}

.cookie-consent-banner__actions {
}

.cookie-consent-banner__header {
    margin-bottom: 8px;

    font-family: "CeraPRO-Bold", sans-serif, arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.cookie-consent-banner__description {
    font-family: "CeraPRO-Regular", sans-serif, arial;
    font-weight: normal;
    color: #838F93;
    font-size: 16px;
    line-height: 24px;
}

.cookie-consent-banner__cta {
    box-sizing: border-box;
    display: inline-block;
    min-width: 164px;
    padding: 11px 13px;

    border-radius: 2px;

    background-color: var(--joyeux);

    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-family: "CeraPRO-Regular", sans-serif, arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.cookie-consent-banner__cta--secondary {
    padding: 9px 13px;

    border: 2px solid #3A4649;

    background-color: transparent;

    color: var(--joyeux);
}

.cookie-consent-banner__cta:hover {
    background-color: var(--hover);
}

.cookie-consent-banner__cta--secondary:hover {
    border-color: #838F93;

    background-color: transparent;

    color: #22C870;
}

.cookie-consent-banner__cta:last-child {
    margin-left: 16px;
}
@media only screen and (max-width: 1048px) {

    .navbarInterface{
        width: 100%;
        flex-direction: row;
        height: 10%;
        border-radius: 0px 0px 20px 20px;
    }
    .convPrivéListe{
        display: none;
    }
    .navbar__item{
        display: none;
    }
    .menunavbar{
        display: block;
        position: absolute;
        left: 2%;
        top: 2%;
    }
}