:root {
    --joyeux: rgb(126, 84, 255);
    --hover: rgb(199, 114, 255);
    --absent: #f6f6f6;;


    --borderRadius: 10px;
    --spacer: 1rem;
    --primary: #406ff3;
    --text: #6a778e;
    --linkHeight: calc(var(--spacer) * 3.5);
    --timing: 250ms;
    --transition: var(--timing) ease all;
}

body {
    overflow-x: hidden;
    margin: 0%;
    overflow-y: hidden;

}
.image{
background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fond{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(13deg, var(--joyeux) 35%, rgb(143 119 218) , var(--joyeux)100%);

}
::selection {
    background-color: var(--hover);
}
.videIntersideral{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("image/vide.png");
}
.containerFond {
    width: 86%;
    bottom: 0%;
    right: 0%;
    position: absolute;
    height: 100%;
    /* Add your background pattern here */

}

.containerFddddond::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 7%;
    z-index: 1;

    background-color: white;
    top: 0%;
    left: 0%;
    border-bottom: #80808026 2px solid;
}

.loginform {
    width: 50%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);

    overflow: hidden;
}

.loginform::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: rgb(209, 193, 255);
    transform: rotate(45deg);
    left: -273px;
    bottom: 30px;

    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
    font-size: 2em;
    color: var(--joyeux);
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
}

.inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.inputIcon {
    position: absolute;
    left: 3px;
}

.inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: 1.5em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
}

.inputField:focus {
    outline: none;
    border-bottom: 2px solid var(--joyeux);
}

.inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
}

#buttonLogin {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: var(--joyeux);
    height: 80px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
}

#buttonLogin:hover {
    background-color: rgb(126, 84, 255);
}

.forgotLink, .loginpage {
    z-index: 2;
    font-size: 1em;
    font-weight: 500;
    color: var(--hover);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
}


.error {
    color: red;
    font-size: 1.5em;
    z-index: 1;
    font-weight: bolder;
}
.containerMessage{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.rightMessage{
    justify-content: flex-end; position: relative;padding-right: 16px;
}
.rightMessage::after{
    content: "";
    position: absolute;
    top: 26%;
    display : inline-block;
    height : 0;
    right: 2px;
    width : 0;
    border-top : 15px solid transparent;
    border-bottom : 17px solid transparent;
    border-left : 15px solid white;
}
.leftMessage{
    justify-content: flex-start; position: relative;margin-left: 17px;
}
.leftMessage::after{
    content: "";
    top: 26%;
    position: absolute;
    display : inline-block;
    height : 0;
    left: -17px;
    width : 0;
    border-top: 15px solid transparent;
    border-right: 17px solid white;
    border-bottom: 15px solid transparent;
}
.task {
    position: relative;
    color: #2e2e2f;
    width: 85%;
    background-color: #fff;
    padding: 1rem 2rem;
    margin-bottom: 1%;
    border-radius: 50px;
    box-shadow: rgb(99 99 99 / 42%) 0px 2px 15px 0px;
    border: 3px dashed transparent;
}



.task p {
    font-size: 15px;
    margin: 1.2rem 0;
}

.tag {
    border-radius: 100px;
    outline: none;
    border: 0;
    padding: 4px 13px;
    font-size: 12px;
    color: var(--joyeux);
    background-color: #ffffff;
    box-shadow: 0px 0px 4px grey;
}

.tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    background: transparent;
    border: 0;
    color: #c4cad3;
    font-size: 17px;
    gap: 10px;
}

.options > div {
    color: #9fa4aa;
    stroke: #9fa4aa;
    width: 22px;

}

.stats {
    position: relative;
    width: 100%;

    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats div {
    margin-right: 1rem;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.stats svg {
    margin-right: 5px;
    height: 100%;
    stroke: #9fa4aa;
}

.viewer span {
    height: 30px;
    width: 30px;
    background-color: var(--joyeux);
    margin-right: -10px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 2px;
}

.viewer span svg {
    stroke: #fff;
}


/*================================SIGNUPFORM ====================*/

.card {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--joyeux);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
}

/*Inputs*/
.field {
    margin-top: 0.5rem;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-bottom: #fbfbff 2px solid;
    border-radius: 4px;
    padding: 0.5em 1em;
}

.input-icon {
    height: 2em;
    width: 2em;
    fill: white;
}

#loginfromsignup {
    color: white;
    z-index: 2;
    font-size: 1em;
    font-weight: 500;

    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    color: #d3d3d3;
}

.input-field::placeholder {
    color: white;
}

/*Text*/
.title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
}

/*Buttons*/
.btn {
    margin: 1rem;
    width: 100%;
    height: 7em;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: white;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
}

.btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
}

/*Hover & focus*/
.field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.btn:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

.btn-link:hover {
    color: #ffeba7;
}


/*================================FIL DE DISCUSSION ====================*/
.filDiscussion {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;

    height: 100%;
    border-radius: 0;
}


.messages {
    height: 90%;
    width: 100%;

    padding: 26px 15px 20px 20px;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}
/* Hiding scrollbar for Chrome, Safari and Opera */
.messages::-webkit-scrollbar {
    display: none;
}


.postMessage {
    width: 100%;
    height: 10%;
    position: fixed;

    background-color: var(--absent);
    transform: translate(0px, 0px);
    box-shadow: 0px -5px 0px #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.msgInput {
    font-size: 18px;

    background-color: var(--absent);
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: var(--joyeux);
    padding: 10px;


}

.msgInput::placeholder {
    color: var(--joyeux);
}

.SendSVG {
    width: 30px;
    height: 30px;
    border-width: 50px;

    background-size: 10px;
    border-radius: 10px;

}

.SendSVG:hover {
    background-color: #2b2b35;
}

.l {
    position: absolute;
    width: 1%;
    height: 30px;
    background-color: #2e2f38;
    transform: translate(-20px, 5px);
}

.bi-send, .refreshBtn {
    color: var(--joyeux);
    font-size: 2em;
    cursor: pointer;
}

.bi-trash {
    color: #9fa4aa
}

.textareamodify, .textareaMessage {
    width: 94%;
    margin-top: 10px;
    height: fit-content;
    margin-bottom: 10px;
}

.textareaMessage {
    border: 0;
    outline: none;
}

.textareamodify {
    border: var(--joyeux) 2px solid;

}

.enveloppe {
    position: absolute;
    top: 120%;
    opacity: 100;
    background-image: url(image/enveloppe.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    z-index: 1;
    animation : enveloppeEnter 2s
}

@keyframes enveloppeEnter {
    0% {
        top: -40%;
    }
    60% {
        top:70% ;
    }
    85% {
        top:65% ;
    }
    90% {
        top : 65%;
    }
    100%{
        top : 150%
    }

}


/*================================ ===================*/


@media only screen and (max-width: 1048px) {
    .loginform {
        width: 100%;
        height: 100%;
    }

    .containerFond {
        padding: 0%;
        width: 100%;

        height: 90%;
        /* Add your background pattern here */

    }
    .containerFond::before {
        background-color: transparent;

    }

    .filDiscussion {
        position: relative;
        width: 100%;

        height: 100%;

    }
.task{
    padding: 3px 10px;

    border-radius: 24px;
}
    .postMessage {
        width: 100%;
        position: fixed;
        bottom: 0%;
    }
.leftMessage {
    justify-content: flex-start;
    position: relative;
    margin-left: 2px;}
    .loginform::before {
        position: absolute;
        content: "";
        width: 215px;
        height: 282px;
        background-color: rgb(209, 193, 255);
        transform: rotate(45deg);
        left: -180px;
        bottom: 30px;

        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
    }
    .donneSUp{
        font-size: 14px;
    }
}